@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here


.headline
	display: flex
	justify-content: space-between
	padding: 29px 120px
	align-items: center
	.logo
		font-size: 19px
		font-family: GraphikM, sans-serif
		text-align: center
		letter-spacing: -0.063em
	.menu
		width: 39%
		&-list
			display: flex
			justify-content: space-between
			align-items: center
			&-item
				margin-bottom: -8px
			.active
				padding: 5px 15px
				gap: 10px
				background-color: white
				border-radius: 17px
				width: 128px
				cursor: pointer
			img
				margin-left: 11px
			a
				text-decoration: none
				color: $fontcolor
.bottom-line
	height: 1px
	width: 100%
	background: rgba(0, 0, 0, 0.05)

.white-bg
	background: rgba(255, 255, 255, 0.24)

.white
	color: white

.white-menu .menu-list a:not(:first-child)
	color: white

.banner
	display: flex
	justify-content: space-between
	padding: 121px 120px 38px 113px
	&-text
		width: 70%
		&-title
			font-family: GraphikM, sans-serif
			font-size: 78px
			line-height: 94%
			letter-spacing: -5.5px
			margin-bottom: 50px
			margin-right: 5px
		&-desc
			font-size: 19px
			line-height: 118%
			width: 460px
			letter-spacing: -1.5px
			padding-left: 6px
			padding-top: 4px
	&-photo
		margin-left: 5px
.showreel
	background-image: url("../img/showreel.jpg")
	height: 595px
	cursor: url("../img/cursor.png"), auto

.products
	padding: 35px 101px
	&-header
		display: flex
		padding-left: 13px
		margin: 60px auto
		&-title
			width: 48%
			font-size: 32px
			line-height: 97%
			letter-spacing: -0.033em
			font-family: GraphikM, sans-serif
			.button
				width: 117px
				height: 31px
				margin-top: 20px
				font-size: 16px
				border-radius: 31px
				border: 1px solid $fontcolor
				text-align: center
				a
					display: block
					text-decoration: none
					color: $fontcolor

		&-desc
			width: 48%
			font-size: 19px
			line-height: 116%
			letter-spacing: -0.063em
			padding-left: 38px
	&-list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		&-item
			width: 49%
			margin-right: -8px
			margin-left: 15px
			margin-bottom: 47px
			.img
				text-align: center
				width: 573px
				img
					width: 100%
			a
				text-decoration: none
				color: $fontcolor
				.title
					margin: 16px 0
					padding-top: 10px
					font-size: 17px
					letter-spacing: -0.043em
					span
						display: block
						&:last-child
							opacity: 0.5
	&-footer
		display: flex
		justify-content: space-between
		border-top: 1px solid rgba(0, 0, 0, 0.1)
		margin: 20px 0
		padding: 20px
		.desc
			font-size: 17px
			letter-spacing: -0.043em
		.arrow
			width: 41px
			height: 29px
			background: #F9F8F5
			border-radius: 50px
			text-align: center
.skills
	background: #191B1D
	padding: 22px 85px 150px
	&-title
		margin: 20px
		color: white
		font-size: 18px
		font-family: GraphikM, sans-serif
		letter-spacing: -0.043em
	&-body
		display: flex
		justify-content: space-between
		.accordion
			align-self: center
			margin-right: 20px
			width: 35%
			&-item
				border: none
				border-bottom: 1px solid rgba(255, 255, 255, 0.14)
				&:first-of-type .accordion-button
					border: none
			&-button
				color: white
				background: #191b1d
				font-size: 28px
				padding: 20px
				&:after
					background-image: url("../img/down-arr.svg")
					background-size: 10px
					background-color: #3B3D3F
					background-position: center
					width: 25px
					height: 25px
					border-radius: 20px
				&:focus
					box-shadow: none
				&:not(.collapsed)::after
					background-image: url("../img/arrow.svg")
					background-size: 10px
					background-color: white
					background-position: center
					width: 25px
					height: 25px
					border-radius: 20px
			.card-body
				background-color: #191b1d
				color: white
.motion
	padding-bottom: 50px
	&-head
		display: flex
		justify-content: space-between
		padding: 100px 105px
		&-title
			font-size: 32px
			color: #191B1D
			font-family: GraphikM, sans-serif
			letter-spacing: -0.033em
			align-self: center
		&-desc
			width: 532px

	&-slider
		position: relative
		ul
			list-style: none
			position: absolute
			top: -98px
			left: 71px
			display: flex
			cursor: pointer
			li.prev
				margin-right: 10px

.footer
	display: flex
	justify-content: space-between
	padding: 50px 110px
	border-top: 1px solid rgba(0, 0, 0, 0.1)
	&-logo
		font-size: 19px
		font-family: GraphikM, sans-serif
	&-links ul
		list-style: none
		font-size: 19px
		padding: 0
		margin: 0
		a
			text-decoration: none
			color: #191B1D
	&-contacts
		&-button
			width: 141px
			height: 29px
			line-height: 29px
			background: #E8E8E8
			border-radius: 85px
			text-align: center
			margin-bottom: 10px
		&-email a
			font-size: 19px
			line-height: 118%
			letter-spacing: -0.063em
			color: #191B1D
.date
	text-align: center
	font-size: 15px
	color: rgba(0, 0, 0, 0.4)
	padding: 30px

//project page styles

.bg-proj
	background-image: url("../img/project.png")
	background-position: top
	height: 450px

.project-title
	color: white
	letter-spacing: -0.063em
	padding: 65px 113px
	h1
		font-family: GraphikM, sans-serif
		font-size: 65px
	span
		font-size: 19px

.pr-about
	display: flex
	justify-content: space-around
	align-content: stretch
	align-items: flex-start
	flex-wrap: nowrap
	padding: 100px 123px
	> div
		flex: 1 1 50%
	&-left
		h2
			font-family: GraphikM, sans-serif
			font-size: 32px
		span
			font-size: 17px
			color: rgba(25, 27, 29, 0.6)
		ul
			list-style: none
			display: flex
			flex-wrap: wrap
			width: 60%
			padding: 0
			margin: 0
			li
				padding: 8px 16px
				margin: 5px
				border: 1px solid #000000
				border-radius: 31px
				text-align: center
				font-family: GraphikM, sans-serif
	&-desc
		align-self: center
		font-size: 19px
		line-height: 125.5%
		letter-spacing: -0.063em
		p
			margin-bottom: 0
			&:first-child
				margin-bottom: 10px






//ALWAYS END
@import "media"
